@media only screen and (max-width: 560px) and (min-width: 320px) {
    .timealign{
        display: flex;
        flex-direction: row;
    }

    /* .cardalign{
        width: 100%;
    } */

    .linealign{
        left: 3.4em;
    }

    .fit{
        width: fit-content;
    }

    .number{
        width: 2.25rem;
        margin-right: 1rem;
    }
    
}
@media only screen and (min-width: 560px){
    .linenormal{
        left: 50%;
    }

}

