.menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: white;
}

.menubar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
    background-color: rgba(4, 23, 23, 0.56);
    padding: 2%;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.menu-dismiss{
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    display: none;

}

.menubar .menuitems li{
    padding: 10%;
}


.menubar .links{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in;
    position: absolute;
    right: 0;
}

.hamburger .line{
    height: 0;
    width: 24px;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.5s ease-in;
}

.hamburger .line1{
    position: absolute;
    transform: rotate(50deg);
    transition: all 0.5s ease-in;
}

.hamburger .line2{
    position: absolute;
    transform: scale(0);
    transition: all 0.5s ease-in;
}

.hamburger .line3{
    position: absolute;
    transform: rotate(-50deg);
    transition: all 0.5s ease-in;
}

@keyframes slide-in {
    from { transform: translate3d(-100vw, 0, 0);}
    to{ transform: translate3d(0vw, 0, 0);}
}


@keyframes slide-out {
    from { transform: translate3d(0vw, 0, 0);}
    to{ transform: translate3d(-100vw, 0, 0);}
}
