@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #2b5876;
  --secondary-color: #2b32b2;
}
/* *{
  outline: 3px solid limegreen !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200&family=Roboto+Slab:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Azonix";
  src: local("Azonix"), url(fonts/Azonix.otf) format("opentype");
}

#tsparticles {
  background: black;
  z-index: 1;
  position: fixed;
 }
 

@layer utilities {
  .transform-letter-te7 {
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  .transform-behind-te7 {
    transform: rotateX(-90deg);
  }
  .transform-in-te7 {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .transform-out-te7 {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .transform-bgr1-s1 {
    transform:rotatez(45deg) translate(6px,1px);
  }
  .transform-bgr1-s2 {
    transform:rotatez(-45deg);
  }
  .transform-bgr1-s3 {
    width:50%;
    transform: translate(2px,-14px) rotatez(45deg);
  }
}

@layer utilities {
  @variants hover {
    .shadow-btn34-h7 {
      box-shadow: 0 0 5px #5dea8c,
                0 0 25px #5dea8c,
                0 0 50px #5dea8c,
                0 0 100px #5dea8c;
    }
  }
}
@font-face {
  font-family: 'Clip';
  src: url('../src/fonts/Clip.ttf') format('truetype');
}
@layer utilities {
  .text-shadow-te6 {
    text-shadow: 0 0 0.6rem #E2DCC8, 0 0 1.5rem #F1F1F1,
    -0.2rem 0.1rem 1rem #F1F1F1, 0.2rem 0.1rem 1rem #F1F1F1,
    0 -0.5rem 2rem #E2DCC8, 0 0.5rem 3rem #E2DCC8;
  }
}